public/assets/homewares/*-in-use-v1.webp filter=lfs diff=lfs merge=lfs -text
public/assets/homewares/*-vibrant-v1.webp filter=lfs diff=lfs merge=lfs -text
public/assets/lighting/*-vibrant-v1.webp filter=lfs diff=lfs merge=lfs -text
public/assets/mobility/*-photo-v3.webp filter=lfs diff=lfs merge=lfs -text
public/assets/mobility/*-photo-v4.webp filter=lfs diff=lfs merge=lfs -text
public/assets/mobility/*-photo-v5.webp filter=lfs diff=lfs merge=lfs -text
